<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <title>Document</title>
</head>

<body>
    <div id="root" class="container">
        <input @keyup.enter="getMovies" v-model="search" type="text">
        <button @click="getMovies">Search</button>
        <ul v-for="film in films">
            <li>
                Titolo: {{film.title}}
            </li>
            <li>
                Titolo Originale: {{film.original_title}}
            </li>
            <li>
                Lingua: {{film.original_language}}
            </li>
            <li>
                Voto: {{film.vote_average}}
            </li>
        </ul>
    </div>
    <script src="js/script.js"></script>
</body>
</html>